

.row {
    display: flex;
    /* background-color: navy; */
}

.col {
    background-color: maroon;
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.col-2 {
    background-color: maroon;
    flex: 2;
    padding: 10px;
    margin: 10px;
}

.col-3 {
    background-color: maroon;
    flex: 3;
    padding: 10px;
    margin: 10px;
}